@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@font-face {
  font-family: "Miama";
  src: url(../fonts/Miama-Regular.ttf);
}

:root {
  --primary-color: #e6533c;
  --heading-half-opacity-color: #ffffff80;
}

/* reseting css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.d-flex {
  display: flex;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 3rem;
  line-height: 57.6px;
  font-weight: 900;
}

h3 {
  font-size: 1.75rem;
  line-height: 33.6px;
  font-weight: 800;
}

p {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: var(--heading-half-opacity-color);
}

/* container */
.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

/* shared components */
.btn-primary {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 16px 46px;
  border-radius: 42px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  cursor: pointer;
  border: none;
}

.btn-outline {
  background-color: transparent;
  padding: 16px 48.5px;
  border-radius: 42px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.text-center {
  text-align: center;
}

.hide{
  display: none;
}

/* header */

header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgb(17, 17, 17) 60%,
    rgb(17, 17, 17) 0%,
    rgba(119, 119, 119, 0) 100%
  );
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 57px 0 32px;
}

.navbar .logo {
  color: var(--primary-color);
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 120%;
  font-style: italic;
}

.nav-links {
  display: flex;
  gap: 47px;
  padding: 8px;
  border: 1px solid #ffffff20;
  border-radius: 46px;
  align-items: center;
}

.nav-link {
  font-size: 18px;
  color: #ffffff;
  border-radius: 46px;
}

.nav-link:last-child {
  padding: 8px 20px;
}

.nav-links .active {
  background-color: #e6533c;
  font-weight: bold;
  padding: 8px 20px;
}

.mobile-menu-icon {
  display: none;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.banner-content {
  max-width: 520px;
}

.banner-content .banner-title {
  font-size: 4.875rem;
  font-weight: 900;
  line-height: 120%;
}

.banner-content .banner-title > span {
  font-family: "Miama", sans-serif;
}

.banner-description {
  margin: 22px 0 40px;
}

.banner > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-buttons {
  display: flex;
  gap: 14px;
}

.banner-img {
  position: relative;
}

.banner-card-one {
  display: flex;
  gap: 12px;
  padding: 20px 23px;
  border: 1px solid #ffffff1a;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: #3030308a;
  width: 206px;
  position: absolute;
  left: -113px;
  bottom: 63px;
}

.banner-card-two {
  padding: 20px 23px;
  border: 1px solid #ffffff1a;
  border-radius: 12px;
  background: #3030308a;
  backdrop-filter: blur(20px);
  width: 206px;
  position: absolute;
  top: 125px;
  right: -74px;
}

.banner-card-two .video-numbers {
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 40px;
  margin-bottom: 5px;
}

.play-button {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.tutorial-numbers > h4 {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-weight: 900;
  margin-bottom: 8px;
}

.change-your-habits {
  margin-top: 100px;
}

.change-your-habits-content {
  text-align: center;
  max-width: 671px;
  margin: 0 auto;
}

.change-your-habits-description {
  margin: 14px 0 58px;
}

.change-your-habits-cards {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.change-your-habits-card {
  text-align: center;
  max-width: 231px;
}

.change-your-habits-card > img {
  border-radius: 50%;
  border: 10px solid #ffffff10;
  margin: 0 25px 30px 25px;
}

.change-your-habits-card-title {
  margin-bottom: 6px;
}

.run-extra-mile {
  margin-top: 142px;
  background-color: #222222;
  border-radius: 18px;
}

.run-extra-mile-container {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

.run-extra-mile-content {
  max-width: 443px;
  text-align: left;
}

.run-extra-mile-description {
  margin: 14px 0 34px;
}

.run-extra-mile-content > button {
  padding: 16px 71px;
}

.run-extra-mile-image img {
  width: 100%;
}

.bmi {
  margin-top: 88px;
}

.bmi-content {
  max-width: 671px;
  margin: 0 auto;
}

.bmi-description {
  margin: 17px 0 88px;
}

.bmi-calculator {
  background-color: #222222;
}

.bmi-calculator-content {
  display: flex;
  justify-content: space-between;
  gap: 175px;
  padding-top: 52px;
  padding-bottom: 52px;
}

.bmi-calculator-chart {
  padding-bottom: 52px;
}

.bmi-calculator-chart-title {
  margin-bottom: 52px;
}

.bmi-chart-table > table {
  width: 310px;
}

.bmi-chart-table > table,
th,
td {
  border: 1px solid #ffffff10;
  border-collapse: collapse;
  text-align: left;
}

.bmi-chart-table th,
td {
  padding: 13px 18px;
}

.bmi-calculator-form {
  max-width: 577px;
}

.bmi-calculator-form > h3 {
  margin-bottom: 14px;
}

.bmi-calculator-form > p {
  letter-spacing: 0.3px;
  margin-bottom: 0;
  padding-bottom: 34px;
}

.bmi-form {
  max-width: 577px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-bottom: 34px;
}

.bmi-form > .last-item {
  grid-column-start: 1;
  grid-column-end: 3;
}

.bmi-form .input-container {
  position: relative;
}

.bmi-form .input-container img {
  position: absolute;
  right: 20px;
  top: 12px;
}

.bmi-form .input-container > input {
  width: 100%;
}

.bmi-form input {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  background: #ffffff1a;
}

.bmi-form input::placeholder {
  color: #ffffff70;
  line-height: 22px;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.9;
}

.meet-our-team {
  margin-top: 88px;
}

.meet-our-team-content {
  max-width: 671px;
  margin: 0 auto;
}

.meet-our-team-title {
  margin-bottom: 14px;
}

.meet-our-team-images {
  border-radius: 18px;
  background: #ffffff1a;
  padding: 12px;
  margin-top: 58px;
}

.meet-our-team-images .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(313px, 1fr));
  gap: 13px;
}

.meet-our-team-card {
  position: relative;
}

.meet-our-team-card img {
  width: 100%;
}

.meet-our-team-images .member-info {
  position: absolute;
  left: 16px;
  bottom: 19px;
}

.meet-our-team-card .member-name {
  margin-bottom: 3px;
}
.meet-our-team-card .post-name {
  font-size: 14px;
}

.faq {
  margin-top: 80px;
}

.faq-questions-ans{
  margin-top: 64px;
}

.faq-container {
  max-width: 792px;
  margin: 35px auto 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.faq-question h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.footer {
  background-color: #222222;
  padding-top: 68px;
  margin-top: 88px;
  padding-bottom: 30px;
}

.footer .container .footer-top {
  justify-content: space-between;
  padding-bottom: 82px;
  border-bottom: 2px solid #ffffff1a;
}

.footer .logo {
  color: var(--primary-color);
  font-size: 4.375rem;
  font-weight: 800;
  line-height: 120%;
  font-style: italic;
}

.footer-description {
  font-size: 0.875rem;
  max-width: 443px;
}

.footer-menu-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 39px;
}

.footer-menu-items {
  display: flex;
  gap: 152px;
}

.footer-menu-list {
  display: grid;
  gap: 20px;
}

.footer-menu-item {
  color: #ffffff80;
  font-size: 1.438rem;
}

.footer-bottom .copyright {
  text-align: center;
  font-size: 1.25rem;
  color: #ffffff80;
  margin-top: 36px;
}
