/* Styles for mobile devices up to 576px */
@media (max-width: 576px) {
  .mobile-menu-icon {
    display: block;
  }
  .nav-links {
    display: none;
  }
  .banner > .container {
    flex-direction: column;
  }
  .btn-primary {
    padding: 16px 20px;
  }
  .btn-outline {
    padding: 16px 20px;
  }
  .banner-content .banner-title {
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
  }

  .banner-card-one {
    left: -24px;
  }

  .banner-card-two {
    top: 179px;
    right: -15px;
  }

  .change-your-habits-cards {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .run-extra-mile-container {
    flex-direction: column;
    align-items: center;
  }

  .run-extra-mile {
    margin: 100px 25px;
  }

  .run-extra-mile-image {
    margin-top: 27px;
  }

  .bmi-calculator-content {
    flex-direction: column;
    gap: 13px;
  }
  .bmi-content {
    padding: 0 15px;
  }

  .footer .container .footer-top {
    flex-wrap: wrap;
  }
  .footer-menu-items {
    margin-top: 30px;
    flex-direction: column;
    gap: 28px;
  }
}
